* {
    
}

.navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    .left-section {
        display: flex;
        align-items: center;
        gap: 1rem;
        margin: .5rem 1rem;

        img {
            width: 45px;
            border-radius: 2rem;
        }
    }

    .right-section {
        display: flex;
        gap: 2rem;
        margin-right: 2rem;
    }
}